.search {
  
  .serachForm {
    input {
      width: 97%;
      color: #ffffff;
      background-color: #3e3e3e;
      outline: none;
      border: none;
      border-radius: 0.3em;
      padding: 0.3em;
    }
  }
}