.message {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;

  .messageInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: #6e6e6e;

    img {
      height: 3.5em;
      width: 3.5em;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .messageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 25%;
    max-width: 40%;
    border-radius: 0.6em 0.6em 0.6em 0em;
    background-color: #242c38;
    overflow: hidden;

    .messageUsername {
      font-size: 1.7rem;
      color: #6692de;
      padding: 0.7em 0.7em 0.5em 0.7em;
    }

    .messageImage {
      object-fit: contain;
      width: 100%;
      margin-bottom: 0.5em;
    }

    .messageText {
      width: 100%;
      padding: 0em 0.7em 0em 0.7em;
    }

    .messageDate {
      width: 100%;
      text-align: end;
      font-size: 1.4rem;
      color: #adadad;
      padding: 0.3em 0.5em 0.3em 0em;   
    }
  }

  &.owner {

    .messageContent {
      background-color: #382c3b;
      
      .messageUsername {
        color: #36cfda;
      }
    }
  }
}